<ion-content>
  <div style="width: 100%; height: 100%;" *ngIf="menu == 0">

    <ion-grid style="height: 90%; display: flex; flex-flow: column;">
      <ion-row style="flex-grow: 1; height: 50%;">
        <ion-col style="height: 100%;">
          <span style="width: 100%; height: 100%;"> 
            <img src="../../../assets/edificioLindo.png" alt="" style="width: 100%; height: 100%;" (click)="opciones(1)">
           </span>
        </ion-col>
      </ion-row>
      <ion-row style="flex-grow: 1; height: 50%;">
        <ion-col style="height: 100%;">
          <span style="width: 100%; height: 100%;"> 
            <img src="../../../assets/edificioFeo.png" alt="" style="width: 100%; height: 100%;" (click)="opciones(2)"> 
           </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid style="height: 10%; display: flex; flex-flow: column;">
      <ion-row style="flex-grow: 1;">
        <ion-col>
          <ion-button class="botones" expand="block" color="tertiary"type="submit" (click)="opciones(3)">
            <ion-text color="dark"> Cerrar Sesion </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-menu *ngIf="menu != 0" [test]="this.tema" (atrasEvent)="this.capturaEvento($event)"></app-menu>
  <ion-spinner *ngIf="apretado" color="Dark" name="crescent" style="display: inherit; margin:auto;width: 4cm; height: 4cm; margin-top: 2rem;"></ion-spinner>
</ion-content>
